<%- include('header'); -%>
<h1 class="title is-2">
  <%- t('greetings') %>
</h1>
<h2 class="subtitle is-4">
  <%- t('thisIsXPortfolio') %>
</h2>
<br>
<p class="has-text-centered">
  <a href="me" class="button is-medium is-info is-outlined">
    <%- t('learnMore') %>
  </a>
</p>
<%- include('footer'); -%>