<%- include('header'); -%>
<h1 class="title is-2">
  <%- t('iAm') %>
</h1>
<h2 class="subtitle is-4">
  <%- t('job') %>
</h2>
<br>
<p class="has-text-centered">
  <%- t('also') %>
</p>
<%- include('footer'); -%>