<%- include('header'); -%>
<h1 class="title is-2">
  <%- t('achievements') %>
</h1>
<h2 class="subtitle is-4">
  <%- t('rarelyAlone') %>
</h2>
<br>
<ul>
  <%- t('deeds') %>
</ul>
<%- include('footer'); -%>